body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
strong {
  font-weight: bold;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.section {
  padding: 40px 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}
.pub {
  margin-bottom: 25px;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.authors {
  font-size: 0.95rem;
  color: #444;
}

.authors .my-name {
  font-weight: 800;
  font-size: 1.01rem;
  color: #111;
}

.venue {
  font-style: italic;
  margin: 2px 0;
}

.links a {
  font-size: 0.9rem;
  color: #1a0dab;
  margin-right: 5px;
}

.links a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
